<HTML>

    <HEAD>
        <TITLE>Return book</TITLE>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="./../static/addbook.css">

    </HEAD>

    <BODY>
        <FORM class="myform">
            <H2>Form for adding new books.</H2>

            <input type="text" id="bname" name="book name" placeholder="Enter the book name">
            <br />

            <input type="text" id="bauth" name="book author" placeholder="Enter the author's name">
            <br />

            <button type="submit" class="btn btn-dark" value="Submit" >Submit!</button>
            <br>

            <div id="container"></div>
            <script>
            $('form').on('submit', function(event)
            {
                $.ajax({
            data : {
                bname: $('#bname').val(),
                bauth: $('#bauth').val()
                   },
               type : 'POST',
               url : 'http://127.0.0.1:5000/addBooks',
               success: function (response) {
                console.log(response);
                }
                })
              })
            </script>


        </FORM>

    </BODY>

</HTML>
